body{
    background-color: #e6e6e6;
}
.main{
    margin: 30px;
    background-color: white;
}

.btn-publish{
    float: right;
    margin-bottom: 20px;
}

.avator-style{
    width: 38px;
    height: 38px;
}

.question-context{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}